
@font-face 
{
    font-family: 'titulo-h1';
    src: url('/theme/fuentes/fanzine-title.ttf') format('truetype');
}

@font-face {
  font-family: 'titulo-h2';
  src: url('/theme/fuentes/supercomputer.ttf') format('truetype');
}

#logo
{
  width: 350px;
  height: 150px;
}

h1 {
  font-family: 'titulo-h1';
  font: 40px 'titulo-h1';
}

h2 {
  font-family: 'titulo-h2';
  font: 35px 'titulo-h2';
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:large;
}

li{
  font-family: monospace;
  font-size: larger;
}

pre
{
  background-color: rgb(182, 217, 231);
  padding: 5px;
  font-family: 'Courier New', Courier, monospace;
  border-left: solid royalblue 3px;
  white-space:pre-line;   /* para mantener el texto dentro del pre, si no se me iba para cualquier parte */
}

#lista_articulos
{
  margin-top: 3px;
  padding: 18px;
  background-color: rgb(225, 237, 238);
  border: 2px solid black;
}

#alinea_div_centro 
{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#pie_pagina
{
  background-color: rgb(190, 238, 238);
  padding: 6px;
  border: solid royalblue 1px;
}

#leer_mas{
  background-color: rgb(52, 110, 236);
  padding: 2px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#enlace_leer:link{
  font-weight: bold;
  font-style: italic;
  color: white;
}

#enlace_leer:visited{
  font-weight: bold;
  font-style: italic;
  color: rgb(182, 182, 182);
}

#enlace_leer:hover{
  font-weight: bold;
  font-style: italic;
  color: rgb(231, 191, 13);
}

/* @media only screen and (max-width: 480px) {
  img {
    width: 100%;
  }
} */

/* .highlight 
{
  margin: 0px;
  background-color: #588586;
  padding: 5px;
} */

#botonitos
{
  background-color: rgb(71, 139, 241);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
}
#botonitos:hover
{
  background-color: grey;
}


/* Estilos básicos del menú */
/* Fuente: https://tuwebcreativa.com/crear-menu-css3-sin-javascript/ Gracias :) */
.menu-navegacion {
  font-family: Arial, sans-serif;
}

.menu-principal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #47aab1;
}

.elemento-menu {
position: relative;
}

.elemento-menu a {
display: block;
color: white;
text-decoration: none;
padding: 14px 16px;
}

.elemento-menu a:hover {
background-color: #588586;
}

/* Estilos del submenú */
.submenu {
display: none;
position: absolute;
list-style-type: none;
margin: 0;
padding: 0;
background-color: #616b99;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.submenu li {
border-top: 1px solid #555;
}

.submenu li:first-child {
border-top: none;
}

.submenu a {
padding: 12px 16px;
}

.submenu a:hover {
background-color: #111;
}

/* Mostrar el submenú al pasar el cursor sobre un elemento del menú */
.elemento-menu:hover .submenu {
display: block;
}