{% extends "base.html" %}

{% block contenido %}

<div>
    <h1>Archivo</h1>
</div>

    <dl>
    {% for article in dates %}
        <div>
            <dt>{{ article.locale_date }}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            <hr style="background-color:cornflowerblue">
        </div>
        {% endfor %}
    
    </dl>

{% endblock contenido %}