{% for article in articles_page.object_list %}
  <div id="lista_articulos">

      <footer>
          <p>
              <time>{{ article.locale_date }}</time>
              {% if article.category %}
                  {% if article.category != "misc" %}
                      - categoria: <a href="{{ SITEURL }}/{{ article.category.url }}"><span>{{ article.category }}</span></a>
                  {% endif %}
              {% endif %}
          </p>
      </footer>

      <div>
        <div>
          {% if  article.imagen %}
            <img src="{{ article.imagen }}" alt="{{ article.category }}" width="200px" loading="lazy">
          {% else %}
            <img src="{{ SITEURL }}/theme/images/sin-imagen.png" alt="{{ article.category }}" width="200px" loading="lazy">
          {% endif %}
        </div>

        <div>
          
            <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <p>{{ article.summary }}</p>
            <div id="leer_mas"><a href="{{ SITEURL }}/{{ article.url }}" id="enlace_leer">Leer más...</a></div>
          <div>
            <hr><br>
          <span style="font-size: 18px; font-weight:bold; margin-top:4px; background-color:rgb(225, 248, 121)">Etiquetas: </span>
          {% if article.tags  %}    
              {% for tag in article.tags %}
                <a id="botonitos" href="{{ SITEURL }}/{{ tag.url }}">{{ tag.name }}</a>
              {% endfor %}
          {% else %}
                <i> Sin Etiquetas :( </i>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

{% endfor %}

{% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}