{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}"/>
  {% endfor %}

{% endblock %}



{% block contenido %}
<div>
  <a href="{{ SITEURL }}/posts/{{ article.date|strftime('%Y')}}"> Ver más publicaciones del año {{ article.date|strftime('%Y')}}</a>
</div>
  <div>
    <article>
      {% if article.date %}
        <footer>
            <a name="top"></a>
            <p>
              <time>{{ article.locale_date|title }}</time>
            </p>
        </footer>
      {% endif %}
        <header>
          <h2>
            {{ article.title }}
          </h2>
        </header>
      <div>
         {{ article.content|safe }}
      </div>
      <div>
        <h5 align="center">
          <a href="#arriba"><img src="{{ SITEURL }}/theme/images/flecha-arriba.png" alt="Flecha Arriba" height="20px">Arriba </a>
        </h5>
      </div> 
    </article>
    <br>
    <hr>
    <small>Escrito por: <a href="{{ SITEURL }}/author/{{ article.autor |lower }}.html">{{ article.autor }}</a>, el día: <time>{{ article.locale_date }}</time></small>
  </div>
{% endblock contenido %}



