<div style="background-color:rgb(212, 242, 243); padding:5px; margin-bottom:2px;">
  <a href="{{ SITEURL }}/"><img src="{{ SITEURL }}/images/logo.png" id="logo" alt="{{ SITENAME }}" height="150px"></a>
  

  <nav class="menu-navegacion">
    <ul class="menu-principal">

      <li class="elemento-menu">
        <a href="{{ SITEURL }}/" >Incio</a>
      </li>
     
      {% if DISPLAY_PAGES_ON_MENU %}
      <li class="elemento-menu">
        <a href="#">Páginas</a>
        <ul class="submenu"> 
            {% for p in pages %}
              <li> <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>   
            {% endfor %}
          </ul>
      </li>
      {% endif %}

      <li class="elemento-menu">
        <a href="#">Archivo</a>
        <ul class="submenu"> 
          <li class="elemento-menu"><a href="{{ SITEURL }}/archives.html">Archivo Completo</a></li>
          <li class="elemento-menu"><a href="{{ SITEURL }}/categories.html">Categorías</a></li>
          <li class="elemento-menu"><a href="{{ SITEURL }}/tags.html">Etiquetas</a></li>
          </ul>
      </li>

    
      
     
    </ul>
        
  </nav>
 
</div>
