<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">

    <!-- Favicon-->
    <link rel="icon" type="image/jpg" href="{{ SITEURL }}/theme/images/logo-icono.png">

    <!-- Propio-->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/propio.css">
    
    <title>{% block titulo_pagina %} {% endblock %}</title>
</head>
<body id="arriba">

    
    {% include 'barra_superior.html' %}


    <div>    
        {% block contenido %}
        {% endblock contenido  %}
    </div>


    <footer id="pie_pagina">
        <h6 align="center">CopyLeft 2024- {{ AUTHOR }}</h6>
            {% if ATTRIBUTION %} 
                <h6 align="center"><i> <a href="https://gitlab.com/elibre1/tema-geliba-para-pelican-sitios-estaticos-sin-js/" target="_blank">"GELIBA sin JS"</a></i> Tema propio para Pelican <a href="https://getpelican.com/" target="_blank">Pelican</a> </h6>
            {% endif %}
    </footer>
</body>
</html>