{% extends "base.html" %}

{% block titulo_pagina %}{{ SITENAME }} - Categorías{% endblock %}

{% block contenido %}

<div >
    <h1>Categorías</h1>
    <hr>
</div>

<div>
    <ul>
    {% for category, articles in categories%}
        {% if category != "misc" %}
        <li style="font-size: larger;"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> <span>({{ articles|count }})</span></li>
        <br>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock contenido  %}