{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
  {% endif %}

  {% for tag in page.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}



{% block contenido  %}

  <div>
    <article>
      {% if page.date %}
        <footer>
            <a name="top"></a>
            <p>
              <time>{{ page.locale_date }}</time>
            </p>
        </footer>
      {% endif %}
        <header>
          <h2>
            {{ page.title }}
          </h2>
        </header>
      <div>
         {{ page.content|safe }}
      </div>

      <div>
        <h5 align="center">
          <a href="#arriba"><img src="{{ SITEURL }}/theme/images/flecha-arriba.png" alt="Flecha Arriba" height="50px">Arriba </a>
        </h5>
      </div>

     
    </article>
  </div>
<!-- end article -->
{% endblock contenido  %}


