{% extends "base.html" %}

{% block contenido %}


    <h1>Archivo de {{ period | reverse | join(' ') }}</h1>

    <dl>
    {% for article in dates %}
    <div>
        <dt>{{ article.locale_date }}</dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
        <hr style="background-color:red">
    </div>
    {% endfor %}
    </dl>

{% endblock contenido  %}