{% extends "base.html" %}

{% block titulo_pagina %}{{ SITENAME }} - Etiquetas{% endblock %}

{% block contenido %}

<div>
    <h1>Etiquetas</h1>
    <hr>
</div>

<div>
    <ul>
    {% for tag, articles in tags %}
        <li style="font-size: larger;"><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> <span>({{ articles|count }})</span></li>
        <br>
    {% endfor %}
    </ul>
</div>
{% endblock contenido %}